{{ define "main" }}
	<div class="m-auto p-4">
		<div class="card">
			{{ with  .OutputFormats.Get "vcf" -}}
			<div class="icon">
				<a href="{{ .RelPermalink }}">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentcolor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 6H5A2 2 0 003 8v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306.0 2.417.835 2.83 2M9 14a3.001 3.001.0 00-2.83 2M15 11h3m-3 4h2"/>
					</svg>
				</a>
			</div>
			{{- end }}
			{{ $background := .Resources.GetMatch "background" }}
			{{ with $background }}
			<noscript>
				<img src="{{ (.Fill "480x192").RelPermalink }}" class="cover-img">
			</noscript>
			<img
				data-sizes="auto"
				src="data:image/jpeg;base64,{{ ( .Fill "60x24" ).Content | base64Encode }}"
				data-srcset="
				{{- $img := . -}}
				{{- range (slice 4 8 16 24 32 48) -}}
				{{ ( ( printf "%dx%d" (mul . 30) (mul . 12) ) | $img.Fill ).RelPermalink }} {{ mul . 30 }}w,
				{{- end -}}"
				class="cover-img lazyload"
			>
			{{ end }}
			{{ $portrait := .Resources.GetMatch "portrait" }}
			{{ with $portrait }}
			<div class="flex justify-center">
				<noscript>
					<img
						src="{{ (.Fill "192x192").RelPermalink }}"
						class="portrait-img"
					>
				</noscript>
				<img
					data-sizes="auto"
					src="data:image/jpeg;base64,{{ (.Fill "24x24").Content | base64Encode }}"
					data-srcset="
					{{- $img := . -}}
					{{- range (slice 4 8 12 16 24 32 48) -}}
					{{ ( ( printf "%dx%d" (mul . 12) (mul . 12) ) | $img.Fill ).RelPermalink }} {{ mul . 12 }}w,
					{{- end -}}"
					class="portrait-img lazyload"
				>		
			</div>
			{{ end }}
			<div class="p-2">
				<div class="content">
					<h3 class="title">{{ .Page.Title }}</h3>
					<div class="inner">
						{{ .Page.Content }}
					</div>
				</div>
				<div class="contact-info">
					{{ with .Page.Params.phone }}
					<div>
						<h2>{{ T "phone" }}</h2>
						<a href="tel:{{ replace . " " "" }}">
							{{ . }}
						</a>
					</div>
					{{ end }}
					<div>
						<h2>{{ T "email" }}</h2>
						<a href="mailto:{{  .Page.Params.email }}">
							{{ .Page.Params.email }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}
