<div class="text-xs absolute top-2 left-2 text-white">
    <div class="flex m-2">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <a class="
                text-current
                {{ if ($currentPage.IsMenuCurrent "main" .) }}
                font-bold
                {{ end }}
                justify-center 
                px-2"
                href="{{ .URL }}"
            >
                <div class="leading-5">
                    {{ .Title }}
                </div>
            </a>
        {{ end }}
    </div>
</div>

<div class="text-xs absolute top-2 right-2 text-white">
    {{ if gt (len .Page.AllTranslations) 1 }}
        <div class="flex m-2">
            {{ $currentLangague := .Site.Language }}
            {{ range .Page.AllTranslations }}
            <a class="
            text-current
            {{ if eq $currentLangague.Lang .Lang }}
            font-bold
            {{ end }}
            justify-center
            px-2"
                href="{{ .Permalink }}"
            >
                <div class="leading-5">
                    {{ .Language.LanguageName }}
                </div>
            </a>
            {{ end }}
        </div>
    {{ end }}
</div>